@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome to USElection</h1>
    <img src="/Img/american-us-flag-icon-8308.png" class="rounded float-start">

</div>


<div>



</div>
